.usercard {
  width: 270px;  
  background-color: #FCF2E5;
  text-align: center;
  padding: 20px 0;
}
h4 {
font-weight: 900;
font-size: 25px;
line-height: 100%;
letter-spacing: 0%;

}
img {
    width: 200px;
}