.infocard {
    width: 300px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 30px;
    height: 560px;
    padding: 20px 20px;
}
.btn {
    padding: 8px 16px;
    color: white;
    background-color: #009AF0;
    border-radius: 30px;
    border: none;
    margin-left:  30px;
    
}
 h3 {
font-weight: 700;
font-size: 18px;
line-height: 100%;


 }
 p {
font-weight: 400;
font-size: 16px;
line-height: 100%;

 }